// Common
$cmn-border-radius: 10px;
$cmn-shadow-block: 0 0 10px rgba(black, 0.05);
$cmn-shadow-element: 0 2px 9px rgba(black, 0.1);

// Transitions
$trn-slow-out: 0.4s ease-out;
$trn-slow-in: 0.4s ease-in;
$trn-normal-out: 0.2s ease-out;
$trn-normal-in: 0.2s ease-in;
$trn-fast-out: 0.1s ease-out;
$trn-fast-in: 0.1s ease-in;

// Colors
$clr-primary: var(--color-primary);
$clr-secondary: var(--color-secondary);
$clr-background: var(--color-background);
$clr-text: var(--color-text);
$clr-text-inactive: var(--color-text-inactive);
$clr-accent: var(--color-accent);


// Breakpoints
$bpt-sm: 640px;
$bpt-md: 768px;
$bpt-lg: 1024px;
$bpt-xl: 1280px;
$bpt-xxl: 1536px;
