// Common
$cmn-border-radius: 10px;
$cmn-sm-border-radius: 8px;
$cmn-shadow-block: 0 0 10px rgba(black, 0.05);

// Transitions
$trn-slow-out: 0.4s ease-out;
$trn-slow-in: 0.4s ease-in;
$trn-normal-out: 0.25s ease-out;
$trn-normal-in: 0.25s ease-in;
$trn-fast-out: 0.15s ease-out;
$trn-fast-in: 0.15s ease-in;

// Font-sizes
$fsz-h1: 26px;
$fsz-h2: 22px;
$fsz-h3: 18px;
$fsz-text: 14px;

// Colors
$clr-primary: var(--color-primary);
$clr-secondary: var(--color-secondary);
$clr-background: var(--color-background);
$clr-inactive: var(--color-text-inactive);
$clr-text: #000000;

// Breakpoints
$bpt-sm: 640px;
$bpt-md: 768px;
$bpt-lg: 1024px;
$bpt-xl: 1280px;
$bpt-xxl: 1536px;
