@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('~/core/assets/fonts/exo-2-v18-latin_cyrillic-regular.woff2')
  format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('~/core/assets/fonts/exo-2-v18-latin_cyrillic-regular.woff')
  format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
