@use '../../shared/styles/constants';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: rgb(constants.$clr-text);
}

a {
  &,
  &:active,
  &:visited {
    text-decoration: none;
    color: unset;
  }
}

button {
  background: none;
  border: none;
  outline: none;
}

ol,
ul {
  margin: 0;
  padding-left: unset;

  li {
    list-style: none;
  }
}

[hidden] {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

::selection {
  background: rgba(constants.$clr-text, 0.1);
}
